 video{ /* video border */ 
    border: 1px solid rgb(14, 13, 13);
     padding: 10px;
      margin: 5px;
      border-radius: 20px; /* tranzitionstransitions applied to the vodeovideo element */
       -moz-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
          -ms-transition: all 1s ease-in-out; 
          transition: all 1s ease-in-out;

         } /* background color and gradient */
          

  video, #start, #stop, #pause, #plus, #minus, #mute { /* background color */ background-color: #ffcccc; 
    /* background gradient */ 
    background-image: linear-gradient(top, rgb(36, 33, 33), rgb(19, 17, 17));
     background-image: -moz-linear-gradient(top, rgb(29, 26, 26), rgb(31, 28, 28)); 
     background-image: -webkit-linear-gradient(top, rgb(0, 0, 0), rgb(0, 0, 0));
      background-image: -o-linear-gradient(top, rgb(20, 19, 19), rgb(26, 22, 22));
       background-image: -ms-linear-gradient(top, rgb(15, 15, 15), rgb(3, 3, 3)); }
       /* shadows */
        video, #start, #stop, #pause, #plus, #minus, #mute { box-shadow: 0 0 10px #ccc; }

         video:hover, video:focus, #start:hover, #stop:hover, #pause:hover, #plus:hover, #minus:hover#mute:hover{ /* glow */ box-shadow: 0 0 20px rgb(32, 29, 29); }

          #controls { display: none; margin: 10px 30px; } /* style for buttons */

           #start, #stop, #pause, #plus, #minus, #mute { border: 1px solid #ccc;
             padding: 3px; 
             border-radius: 10px; 
             width: 60px; 
             margin: 0 10px 0 0; }

              body{ /* color tranzitiontransition */ 
                -webkit-transition: background-color 1s ease-in-out;
                 -moz-transition: background-color 1s ease-in-out;
                  -o-transition: background-color 1s ease-in-out; 
                  -ms-transition: background-color 1s ease-in-out; 
                  transition: background-color 1s ease-in-out;
                   /* initial color */ background-color: #fff; 
                   background-color: #4187df;}
                
                
                .box {
                    width: 200px;
                    height: 200px;
                    display: inline-block;
                    margin-left: 160px;
                    border-radius: 10px;
                    background-image: url(/SBK/NENE\ 2-min.jpg);
                    background-size: cover;
                }
                .box p:hover{
                    color: rgb(151, 82, 230);
                    transition: 3.3ms;
                }
                
                .box1 {
                    width: 200px;
                    height: 200px;
                    display: inline-block;
                    margin-left: 160px;
                    border-radius: 10px;
                    background-image: url(/SBK/penboy-min.jpg);
                    background-size: cover;
                }
                .box1 p:hover{
                    color: rgb(151, 82, 230);
                    transition: 3.3ms;
                }
                
                .box2 {
                    width: 200px;
                    height: 200px;
                    background-color: rgb(0, 0, 0, 0.6);
                    display: inline-block;
                    margin-left: 160px;
                    border-radius: 10px;
                    background-image: url(/SBK/gr-min.png);
                    background-size: cover;
                }
                .box2 p:hover{
                    color: rgb(151, 82, 230);
                    transition: 3.3ms;
                }
                
                
                .box p{
                    color: white;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 30px;
                    
                }
                .box1 p{
                    color: white;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 30px;
                }
                .box2 p{
                    color: white;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 30px;
                }
                
                .header{
                    color: #fff;
                    font-family: Fredoka One;
                }
                @media screen and (min-width: 1200px) {
                        .header {
                          font-size: 100px;
                    }
                }
                
                footer{
                    color: rgb(255, 255, 255);
                    background-color: rgb(48, 48, 48);
                    padding: 2px;
                }